@import url("reset.css");

.content-box{
        background: #ff000020;
        height: inherit;
        width: 960px;
        margin-left: auto;
        margin-right: auto;

    }

    /*--------°øÅë---------------------------------*/
#header{
    height: 70px;
    background: yellow;
}
    
#visual{
    height: 171px;
    background: red,20;
}

#body{
    
    height: 300px;
    background: black;
}

    #body>.content-box{
        display: flex;
    }

    #aside{
        height: inherit;
        width:205px;
        background: red;
    }

    #main{
        height: inherit;
        width: 750px;
        background: yellowgreen;
    }

#footer{
    height: 100px;
    background: blue;
}

