@import url("reset.css");

#header{
    height: 70px;
    background: greenyellow;
    position:sticky;
    width: 100%;
    top: 0px;
}

#S1 ul{
    background: yellowgreen;

}

#S1 li:nth-child(1){
    background: rgb(44, 163, 123);


}

#S1 li:nth-child(2){
    background: green;

}

#S1 li:nth-child(3){
    background: blue;

}